In [1]:
import pandas as pd

In [4]:
excel1 = pd.read_excel('1.xlsx')
excel1

   num1   num2  num3  num4
0     1    4.0     5     7
1    33    NaN    55    66
2   111  222.0   333   444

In [6]:
# 读取指定的 sheet，默认 sheet_name=0。
pd.read_excel('1.xlsx', sheet_name=1)

   a  b  c
0  1  2  3
1  4  5  6

In [9]:
# sep="," 默认的，正常 csv 都是以‘，’分隔的。
# 读取前 10 行。
pd.read_csv('student.csv', nrows=10)

   Student ID  name   age  gender
0        1100  Kelly   22  Female
1        1101    Clo   21  Female
2        1102  Tilly   22  Female
3        1103   Tony   24    Male
4        1104  David   20    Male
5        1105  Catty   22  Female
6        1106      M    3  Female
7        1107      N   43    Male
8        1108      A   13    Male
9        1109      S   12    Male

In [11]:
# 读取数据库
import pymysql
sql = 'select * from movies'
conn = pymysql.Connect(host='localhost', user='root', password='123456',
                       database='test', charset='utf8mb4')
df = pd.read_sql(sql, conn)
df

    filename filetypes    filedate
0     我和我的家乡     剧情／喜剧  2020-10-01
1        姜子牙  动画／动作／冒险  2020-10-01
2         八佰  剧情／战争／历史  2020-08-21
3         夺冠        剧情  2020-09-25
4   我在时间尽头等你  爱情／奇幻／喜剧  2020-08-25
5        花木兰     剧情／冒险  2020-09-11
6      一点就到家        青春  2020-10-04
7        急先锋  动作／冒险／喜剧  2020-09-30
8    木兰：横空出世  动画／喜剧／动作  2020-10-03
9         信条  科幻／动作／剧情  2020-09-04
10    我和我的家乡     剧情／喜剧  2020-10-01
11       姜子牙  动画／动作／冒险  2020-10-01
12        八佰  剧情／战争／历史  2020-08-21
13        夺冠        剧情  2020-09-25
14  我在时间尽头等你  爱情／奇幻／喜剧  2020-08-25
15       花木兰     剧情／冒险  2020-09-11
16     一点就到家        青春  2020-10-04
17       急先锋  动作／冒险／喜剧  2020-09-30
18   木兰：横空出世  动画／喜剧／动作  2020-10-03
19        信条  科幻／动作／剧情  2020-09-04
20    我和我的家乡     剧情／喜剧  2020-10-01
21       姜子牙  动画／动作／冒险  2020-10-01
22        八佰  剧情／战争／历史  2020-08-21
23        夺冠        剧情  2020-09-25
24  我在时间尽头等你  爱情／奇幻／喜剧  2020-08-25
25       花木兰     剧情／冒险  2020-09-11
26     一点就到家        青春  2020-10-04
27       急先锋  动作／冒险／喜剧  2020-09-30
28   木兰：横空出世  动画／喜剧／动作  2020-10-03
29        信条  科幻／动作／剧情  2020-09-04

In [12]:
excel1.head(3)

   num1   num2  num3  num4
0     1    4.0     5     7
1    33    NaN    55    66
2   111  222.0   333   444

In [13]:
excel1.shape

(3, 4)

In [14]:
excel1.info

<bound method DataFrame.info of    num1   num2  num3  num4
0     1    4.0     5     7
1    33    NaN    55    66
2   111  222.0   333   444>

In [15]:
excel1.describe()

             num1        num2        num3        num4
count    3.000000    2.000000    3.000000    3.000000
mean    48.333333  113.000000  131.000000  172.333333
std     56.580326  154.149278  176.714459  237.112491
min      1.000000    4.000000    5.000000    7.000000
25%     17.000000   58.500000   30.000000   36.500000
50%     33.000000  113.000000   55.000000   66.000000
75%     72.000000  167.500000  194.000000  255.000000
max    111.000000  222.000000  333.000000  444.000000

In [16]:
conn.close()