In [1]:
import pandas as pd

In [4]:
df = pd.DataFrame({"A":[5,3,None,4],
                 "B":[None,2,4,3],
                 "C":[4,3,8,5],
                 "D":[5,4,2,None]})
df

     A    B  C    D
0  5.0  NaN  4  5.0
1  3.0  2.0  3  4.0
2  NaN  4.0  8  2.0
3  4.0  3.0  5  NaN

In [6]:
# 算数运算
df['A'] + df['C']

0    9.0
1    6.0
2    NaN
3    9.0
dtype: float64

In [7]:
df['A'] + 5

0    10.0
1     8.0
2     NaN
3     9.0
Name: A, dtype: float64

In [8]:
df['A'] > df['C']

0     True
1    False
2    False
3    False
dtype: bool

In [9]:
# 统计非空数量
df.count()

A    3
B    3
C    4
D    3
dtype: int64

In [10]:
df.count(axis=1)

0    3
1    4
2    3
3    3
dtype: int64

In [11]:
# 非空值每列求和
df.sum()

A    12.0
B     9.0
C    20.0
D    11.0
dtype: float64

In [12]:
df['A'].sum()

12.0