In [1]:
import pandas as pd
import numpy as np

In [2]:
group = ['x','y','z']
data1 = pd.DataFrame({
    "group":[group[x] for x in np.random.randint(0,len(group),10)] ,
    "age":np.random.randint(15,50,10)
    })

data2 = pd.DataFrame({
    "group":[group[x] for x in np.random.randint(0,len(group),10)] ,
    "salary":np.random.randint(5,50,10),
    })

data3 = pd.DataFrame({
    "group":[group[x] for x in np.random.randint(0,len(group),10)] ,
    "age":np.random.randint(15,50,10),
    "salary":np.random.randint(5,50,10),
    })

In [3]:
print(data1)
print(data2)
print(data3)

  group  age
0     x   19
1     x   18
2     z   27
3     x   32
4     y   43
5     y   40
6     y   26
7     x   18
8     y   20
9     x   23
  group  salary
0     z      10
1     y      32
2     x      23
3     z      10
4     z      47
5     y       6
6     x      27
7     x      37
8     y      27
9     z      41
  group  age  salary
0     y   20      34
1     z   20      24
2     x   15      19
3     z   20      43
4     x   42      48
5     y   27      43
6     y   39      28
7     z   16      24
8     x   33      13
9     x   41       9

In [4]:
pd.merge(data1, data2)

   group  age  salary
0      x   19      23
1      x   19      27
2      x   19      37
3      x   18      23
4      x   18      27
5      x   18      37
6      x   32      23
7      x   32      27
8      x   32      37
9      x   18      23
10     x   18      27
11     x   18      37
12     x   23      23
13     x   23      27
14     x   23      37
15     z   27      10
16     z   27      10
17     z   27      47
18     z   27      41
19     y   43      32
20     y   43       6
21     y   43      27
22     y   40      32
23     y   40       6
24     y   40      27
25     y   26      32
26     y   26       6
27     y   26      27
28     y   20      32
29     y   20       6
30     y   20      27

In [5]:
pd.merge(data3, data2, on='group')

   group  age  salary_x  salary_y
0      y   20        34        32
1      y   20        34         6
2      y   20        34        27
3      y   27        43        32
4      y   27        43         6
5      y   27        43        27
6      y   39        28        32
7      y   39        28         6
8      y   39        28        27
9      z   20        24        10
10     z   20        24        10
11     z   20        24        47
12     z   20        24        41
13     z   20        43        10
14     z   20        43        10
15     z   20        43        47
16     z   20        43        41
17     z   16        24        10
18     z   16        24        10
19     z   16        24        47
20     z   16        24        41
21     x   15        19        23
22     x   15        19        27
23     x   15        19        37
24     x   42        48        23
25     x   42        48        27
26     x   42        48        37
27     x   33        13        23
28     x   33        13        27
29     x   33        13        37
30     x   41         9        23
31     x   41         9        27
32     x   41         9        37

In [6]:
pd.merge(data3, data2)

Empty DataFrame
Columns: [group, age, salary]
Index: []

In [7]:
pd.merge(data3, data2, left_on='age', right_on='salary')

  group_x  age  salary_x group_y  salary_y
0       y   27        43       x        27
1       y   27        43       y        27
2       x   41         9       z        41

In [8]:
pd.merge(data3, data2, on='group', how='inner')

   group  age  salary_x  salary_y
0      y   20        34        32
1      y   20        34         6
2      y   20        34        27
3      y   27        43        32
4      y   27        43         6
5      y   27        43        27
6      y   39        28        32
7      y   39        28         6
8      y   39        28        27
9      z   20        24        10
10     z   20        24        10
11     z   20        24        47
12     z   20        24        41
13     z   20        43        10
14     z   20        43        10
15     z   20        43        47
16     z   20        43        41
17     z   16        24        10
18     z   16        24        10
19     z   16        24        47
20     z   16        24        41
21     x   15        19        23
22     x   15        19        27
23     x   15        19        37
24     x   42        48        23
25     x   42        48        27
26     x   42        48        37
27     x   33        13        23
28     x   33        13        27
29     x   33        13        37
30     x   41         9        23
31     x   41         9        27
32     x   41         9        37

  group   age  salary
0     x  19.0     NaN
1     x  18.0     NaN
2     z  27.0     NaN
3     x  32.0     NaN
4     y  43.0     NaN
5     y  40.0     NaN
6     y  26.0     NaN
7     x  18.0     NaN
8     y  20.0     NaN
9     x  23.0     NaN
0     z   NaN    10.0
1     y   NaN    32.0
2     x   NaN    23.0
3     z   NaN    10.0
4     z   NaN    47.0
5     y   NaN     6.0
6     x   NaN    27.0
7     x   NaN    37.0
8     y   NaN    27.0
9     z   NaN    41.0